        body{
          background: rgb(0,212,255);
          background: linear-gradient(90deg, rgba(0,212,255,1) 14%, rgba(60,165,177,1) 46%, rgba(62,201,217,1) 82%);
        }
        
        span {
          color: darkred;
        }

        input, textarea, select {
          margin-bottom: 8px;
          border-radius: 4px;
          border-width: 3px;
          border-style: groove;
          border-color: royalblue;
        }

        button {
          position: relative;
          background-color: royalblue;
          border: none;
          font-size: 12px;
          color: #FFFFFF;
          padding: 20px;
          width: 100px;
          text-align: center;
          transition-duration: 0.4s;
          text-decoration: none;
          overflow: hidden;
          cursor: pointer;
        }
        
        button:after {
          content: "";
          background: #f1f1f1;
          display: block;
          position: absolute;
          padding-top: 300%;
          padding-left: 350%;
          margin-left: -20px !important;
          margin-top: -120%;
          opacity: 0;
          transition: all 0.8s
        }
        
        button:active:after {
          padding: 0;
          margin: 0;
          opacity: 1;
          transition: 0s
        }
